#h1{
    background-color: green;
    display: inline;
    color: yellow;
    padding: 5px;
}
#addBtn{
    background-color:green;
    padding: 6px;
    border-radius: 6px;
    color: yellow;
}
.inputBoxes{
    width: 200px;
}
#addBtn:hover{
    background-color: rgba(0, 150, 255, 0.3);
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 8px;
}